* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#divContainer {
    display: flex;
    height: 95vh;
    justify-content: center;
    align-items: center;
}

#divCard {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 200px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

#divScore {
    display: flex;
    justify-content: space-around;
    font-size: 10px;
    font-weight: 700;
}

h2 {
    text-align: center;
    padding: 15px 0px;
}

#answer {
    width: 50px;
    font-size: 20px;
    height: 50px;
    padding-left: 3px;
}

button {
    height: 40px;
}

#answer-container {
    display: inline-flex;
    align-items: start;
}

#incorrect {
    color: rgb(213, 0, 0);
}

#correct {
    color: rgb(1, 187, 1);
}